<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloader de Vídeo do YouTube</title>
    <script src="/static/script.js"></script>
</head>
<body>
    <h1>Downloader de Vídeo do YouTube</h1>
    <label for="videoLink">Digite o Link do Vídeo:</label>
    <input type="text" id="videoLink">
    <button onclick="baixarVideo()">Baixar Vídeo</button>

    <!-- Se você tiver arquivos JavaScript, inclua-os aqui -->
</body>
</html>